body{
    margin: 0;
    padding: 0;
}

.outterContainer{
    height: 100vh;
}

.navigation{
    position: fixed;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideLeft{
    left: 0;
    width: 1vw;
    height: 100%;
}

.sideRight{
    right: 0;
    width: 1vw;
    height:100%;
}

.top{
    top: 0;
    width: 100%;
    height: 1vw;
}

.bottom{
    bottom:0;
    width:100%;
    height: 1vw;
}
.test{
    width:10px;
    height:10px;
    background-color: aqua;
}

.landingPage{
    background-color: grey;
}

