html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

body {
  line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

nav ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold
}

del {
  text-decoration: line-through
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

input,
select {
  vertical-align: middle
}

li {
  list-style: none
}

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a { 
    color: white;
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* ---- Main Content ----*/ 
.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
}

.box5 {
  grid-area: box5;
}

.box6 {
  grid-area: box6;
}

.mainContent{
  display: grid;
  position: absolute;
  top:3vh;
  left: 20vw;
  background-color:rgba(155, 22, 22, 0.0);
  color: white;
  width: 40vw;
  height: 40vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 3vw;
  grid-row-gap: 2vw;
  grid-template-areas:
    "box1 box1 box2 box2"
    "box1 box1 box2 box2"
    "box1 box1 box2 box2"
    "box3 box3 box4 box4"
    "box3 box3 box4 box4"
    "box3 box3 box4 box4"
    "box5 box5 box6 box6"
    "box5 box5 box6 box6"
    "box5 box5 box6 box6";
}
.box{
  background-color: rgba(43, 42, 42, 0.9);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.box1 > div:nth-of-type(1){
  width:100%;
  display: flex;
  justify-content: space-between;
  color: black;
  font-size:20px;
}

.box1 > div:nth-of-type(1) > div{
  background-color: azure;
  cursor: pointer;
}

.box1 > div:nth-of-type(1) > div:hover{
  background-color: black;
  color: white;
}

.mainContent > div:nth-of-type(1){
  background-image: url(./pics/CheckPoint1img.png);
  background-size: 100%;
}

 .iframe{
   width: 100%;
   height: 100%;
 }

/* ---- Nav ----*/ 
.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 10vh;
  right: 0;
  background-color:rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 30px;
  width: 30px;
  height: 400px;
  overflow: hidden;
  transition: 1s;
}
.expandNav{
  display: flex;
  width:30px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color:rgba(54, 50, 50, 0.1);
  transition: 1s;
}
.expandNav > div{
  transition: 1s;
}
.arrow{
  width: 100%;
  height: 100%;
}

.navContent{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 0;
  overflow: hidden;
  transition: 1s;
}
.navigation:hover{
  width: 150px;
}
.navigation:hover > .navContent{
  width: auto;
}
.navigation:hover > .expandNav > div{
  transform: rotate(180deg); 
}

.navContent > div:hover{
  background-color: white;
}

.navContent > div:hover > a{
  color: rgb(0, 0, 0);
}

.smIcons{
  height: 100%;
  width: 100%;
}

@media (max-width: 768px){

  .navigation{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    position: absolute;
    top: 0;
    background-color:rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 30px;
    width: 300px;
    height: 30px;
    overflow: hidden;
    transition: 1s;
  }
  .expandNav{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color:rgba(54, 50, 50, 0.342);
    transition: 1s;
  }
  .expandNav > div{
    width: 30px;
    height: 30px;
    transition: 1s;
  }
  .arrow{
    transform: rotate(-90deg); 
    width: 100%;
    height: 100%;
  }
  
  .navContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 0;
    overflow: hidden;
    transition: 1s;
  }
  .navigation:hover{
    height: 300px;
  }
  .navigation:hover > .navContent{
    height: auto;
  }
  .navigation:hover > .expandNav > div{
    transform: rotate(180deg); 
  }
  
  .navContent > div:hover{
    background-color: white;
  }
  
  .navContent > div:hover > a{
    color: rgb(0, 0, 0);
  }
  
  .smIcons{
    height: 100%;
    width: 100%;
  }


}

@media (max-width: 576px){

}